# Dummy Variables

In [8]:
import pandas as pd

# The file has no headers naming the columns, so we pass header=None
# and provide the column names explicitly in "names"
data = pd.read_csv("adult.csv", header=None, index_col=False,
                       names=['age', 'workclass', 'fnlwgt', 'education',  'education-num','marital-status', 'occupation', 'relationship', 'race', 'gender','capital-gain', 'capital-loss', 'hours-per-week', 'native-country','income'])

# For illustration purpose, we only select some of the columns
data = data[['age', 'workclass', 'education', 'gender', 'hours-per-week','occupation', 'income']]

# IPython.display allows nice output formatting within the Jupyter notebook
display(data.head())

,age,workclass,education,gender,hours-per-week,occupation,income
0,age,workclass,education,sex,hours.per.week,occupation,income
1,90,?,HS-grad,Female,40,?,<=50K
2,82,Private,HS-grad,Female,18,Exec-managerial,<=50K
3,66,?,Some-college,Female,40,?,<=50K
4,54,Private,7th-8th,Female,40,Machine-op-inspct,<=50K